@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background:#0f1114;
    color:white;
    margin: 100px;;
    padding:20px 0;
}

/* Judul */
.title{
    text-align:center;
    letter-spacing:3px;
    font-size:32px;
    margin-bottom:40px;
}

/* Container grid responsif */
.container{
    width:85%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.navbar-logo{
    padding-top: 0.1px;
    margin-top: 0.1px;
}
/* CARD */
.card{
    position:relative;
    height:330px;
    overflow:hidden;
    border-radius:18px;
    background:#1c1f26;
    box-shadow:0 0 20px rgba(255,255,255,0.15);
    text-align:center;
    padding: 15px;
    transition:.4s;
}

/* Background image blur */
.card .bg{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-size:80%;
    background-position:center;
    background-repeat:no-repeat;
    opacity:.2;
    transition:.4s;
}

/* Hover efek */
.card:hover{
    transform:scale(1.06);
    box-shadow:0 0 25px rgba(255,255,255,0.25);
}
.card:hover .bg{
    opacity:.35;
}

/* Teks */
.card h2 , a{
    font-size:30px;
    margin-top:40px;
    z-index:2;
    position:relative;
    color: white;
}
.card p{
    margin-top:10px;
    font-size:15px;
    opacity:.9;
    z-index:2;
    position:relative;
}


